body {
  padding: 0;
  text-align: center;
  background-color: #9FCCE6;
}

#game-intro {
  padding: 40px 0px;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/rug.jpg);
  background-size: cover;
  justify-content: center;
}

#game-end {
  display: none;
}

.logo-img {
  width: 350px;
  display: flex;
  justify-content: center;
}

#instructions-h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#instructions-intro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

#instructions-list {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  display: table;
  margin: 0 auto;
  text-align: left;
}

#start-button {
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #1985C4;
  color: #fff;
  padding: 20px 50px;
  border: 0;
  border-radius: 10px;
  margin-top: 100px;
}

#restart-button{
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #1985C4;
  color: #fff;
  padding: 20px 50px;
  border: 0;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 60px;
}

#game-stats {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  justify-content: right;
  text-align: center;
  display: none;
}

#game-stats-end {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  justify-content: center;
  text-align: center;
}

#jugdy-neji-img {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

#gameover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#neji-is-judging{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin-top: 20px;
}

.spin {
  -webkit-animation: spin 0.2s linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

